.child-form {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 200px 250px;
  align-items: center;
}
.child-input {
  display: grid;
  grid-template-columns: 150px 150px;
  margin: 10px 0;
}
